{% extends "base.html.twig" %}

{% block body %}
    <h1>{% trans %}security.password-change{% endtrans %}</h1>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-md-3 col-12">
            <button class="btn btn-warning btn-block" type="submit">
                {% trans %}Change{% endtrans %}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
