<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Block direct requests to the "public" subdirectory
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^public($|/) - [R=404]

    # Rewrite all requests that are not already for the "public" subdirectory
    RewriteRule !^public/ /public%{REQUEST_URI} [L]

</IfModule>
