<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beheer <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path("zabuto_user_list") }}">
                <span class="visible-xs pull-left glyphicon glyphicon-cog"></span>
                Gebruikers
            </a>
        </li>
        <li>
            <a href="{{ path("zabuto_usergroup_list") }}">
                <span class="visible-xs pull-left glyphicon glyphicon-cog"></span>
                Gebruikersgroepen
            </a>
        </li>
    </ul>
</li>