{% extends "base.html.twig" %}

{% block title %}Gebruiker wachtwoord verstuurd{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    
    <div class="container pageheader">
        <h1 class="pull-left">Inlog <span>wachtwoord verstuurd</span></h1>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-6">
            <p>Uw wachtwoord is verstuurd.</p>
            <p>U kunt inloggen met het nieuwe wachtwoord.</p>
        </div>
    </div>
{% endblock %}